// this is Mew's self customized SCSS file, should be import from application.scss
.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

// 以下搭配於html內設定給 row-div 的新class特性 -> 可以解決 bootstrap3中grid system column height mismatch layout crash
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}